<h1>Books</h1>
<div class="aa">
	<table>
		<thead>
			<tr>
				<th>Title</th>
				<th>Body</th>
			</tr>
		</thead>
		<tbody>
			<% @bookers.each do |booker| %>
			<tr>
				<td><%= booker.title %></td>
				<td><%= booker.body %></td>
				<td><%= link_to "show", booker_path(booker.id), class: "show_#{booker.id}" %></td>
				<td><%= link_to "edit",edit_booker_path(booker.id), class: "edit_#{booker.id}" %></td>
				<td><%= link_to "destroy",destroy_booker_path(booker.id), class: "destroy_#{booker.id}",method: :delete,"data-confirm" => "Are you sure?" %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
<div class="bb">
	<h2>New book</h2>
	<%= form_for(@booker) do |f| %>
		<% if @booker.errors.any? %>
    		<div id="error_explanation" class="alert alert-danger">
      			<h2><%= pluralize(@booker.errors.count, "errors") %> prohibited this book from being saved:</h2>
      			<ul>
      				<% @booker.errors.full_messages.each do |message| %>
        				<li><%= message %></li>
      				<% end %>
      			</ul>
    		</div>
  		<% end %>
  		<div class="field">
  			<%= f.label :title, "Title" %>
			<%= f.text_field :title,class: "book_title" %>
		</div>
		<div class="field">
			<%= f.label :body, "body" %>
			<%= f.text_area :body,class: "book_body" %>
		</div>
		<span><%= f.submit 'creat book' %></span>
	<% end %>
</div>